# Moving API keys and other sensitive information to a .env file for better security and management
# Separation of sensitve configuration data from application source code.
Email_Notification_API_KEY="#########################"  # API KEY